#player-name-dropdown .VirtualizedSelectFocusedOption{
    color: white!important;
    background-color: #111111;
}
#player-name-dropdown .VirtualizedSelectOption {
    color: black;
}
#season-year-dropdown .VirtualizedSelectFocusedOption{
    color: white!important;
    background-color: #111111;
}
#season-year-dropdown .VirtualizedSelectOption {
    color: black;
}

/* Apply Calibri font to the entire app */
body, h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Calibri', sans-serif !important;
}

